.detai-quiz-content {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  .left-content {
    width: 70%;
    border: 2px solid rgb(226, 222, 222);
    padding: 10px 10px;
    border-radius: 10px;
  }

  .right-content {
    padding: 10px;
    width: 30%;
    border: 2px solid rgb(226, 222, 222);
    border-radius: 10px;

    .main-tinner {
      padding-top: 16px;
      text-align: center;
      border-bottom: 2px solid rgb(226, 222, 222);
      span {
        color: rgb(0, 0, 0);
        font-size: 2rem;
      }
    }
    .main-questions {
      padding-top: 16px;
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      gap: 10px;
      .question {
        width: 40px;
        height: 40px;
        display: flex;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid rgb(226, 222, 222);

        cursor: pointer;

        &.active {
          background-color: rgb(14, 151, 197);
          color: rgb(255, 255, 255);
        }
        &.click {
          color: red;
        }
      }
      :hover {
        color: red;
      }
    }
  }
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .footter {
    justify-content: center;
    gap: 10px;
    display: flex;
  }
  .answer {
    margin-left: 50px;
    .true {
      color: lime;
    }
    .false {
      color: red;
    }
  }
  .title-quetion {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .list_quiz {
    .img-quiz {
      text-align: center;
    }
    img {
      width: 30%;
    }
  }
}
.fontlink {
  text-decoration: none;
  font-size: 1.2rem;
}
